@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body{
	font-family: 'Bitter', serif;
}

// section-padding
.section-padding{
	padding: $section-padding;
}

// heading-title
.heading-title{
	padding: 20px 0 30px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 3px;
}

// primary_btn
.primary_btn{
	background-color: $primary-color;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	transition: 0.2s;
	margin: 10px 0;
	&:hover{
		background-color: #fff;
		color: $primary-color;
		border: 1px solid $primary-color;
	}
}