.offer{
	margin-top: 40px;
	hr{
		border: 1px solid $primary-color;
	}
	@media (min-width: 750px){
		.row .col-md-2{
		border-right: 1px solid $primary-color;
    	height: 80px;
    	h2{
    		margin: 0;
    	}
	}
	}
}