@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
/* line 4, ../sass/base/_base.scss */
body {
  font-family: 'Bitter', serif;
}

/* line 9, ../sass/base/_base.scss */
.section-padding {
  padding: 40px;
}

/* line 14, ../sass/base/_base.scss */
.heading-title {
  padding: 20px 0 30px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
}

/* line 23, ../sass/base/_base.scss */
.primary_btn {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.2s;
  margin: 10px 0;
}
/* line 31, ../sass/base/_base.scss */
.primary_btn:hover {
  background-color: #fff;
  color: #222;
  border: 1px solid #222;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar {
  border-radius: 0;
  margin: 0;
}

/* line 5, ../sass/module/_navbar.scss */
.navbar-inverse {
  background-color: #fff;
}
/* line 7, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle {
  background-color: #222;
}
/* line 9, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle:focus {
  background-color: #222;
}

/* line 14, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: #222;
  font-weight: bold;
}
/* line 17, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-brand:hover {
  color: #222;
}

/* line 21, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 25, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #222;
  text-decoration: underline;
}

/* line 1, ../sass/module/_heroslider.scss */
.carousel {
  margin-top: 50px;
}

@media (max-width: 750px) {
  /* line 6, ../sass/module/_heroslider.scss */
  .carousel-inner .item img {
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px);
  }
}
/* line 2, ../sass/module/_rates.scss */
.rates label {
  font-size: 20px;
}
/* line 5, ../sass/module/_rates.scss */
.rates .form-control {
  border-color: #222;
}
/* line 8, ../sass/module/_rates.scss */
.rates select, .rates input {
  border-radius: 0;
}
/* line 10, ../sass/module/_rates.scss */
.rates select option, .rates input option {
  font-weight: bold;
}

/* line 1, ../sass/module/_services.scss */
.services {
  background-color: #ccffff;
}

@media (max-width: 750px) {
  /* line 6, ../sass/module/_services.scss */
  .services--content {
    padding: 10px 0;
  }
}
/* line 1, ../sass/module/_message.scss */
.message {
  background-color: #222;
  color: #fff;
}
/* line 4, ../sass/module/_message.scss */
.message p:last-child {
  font-weight: bold;
  font-size: 25px;
}

/* line 2, ../sass/module/_payment-methods.scss */
.paymentMethods-logo img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.2s;
  padding: 5px;
}
/* line 7, ../sass/module/_payment-methods.scss */
.paymentMethods-logo img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

/* line 1, ../sass/module/_footer.scss */
footer {
  background-color: #ccffff;
}
/* line 3, ../sass/module/_footer.scss */
footer h3 {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 7, ../sass/module/_footer.scss */
footer ul {
  padding-left: 0;
}
/* line 9, ../sass/module/_footer.scss */
footer ul li {
  list-style-type: none;
}
/* line 11, ../sass/module/_footer.scss */
footer ul li a {
  color: #222;
}
/* line 13, ../sass/module/_footer.scss */
footer ul li a:hover {
  text-decoration: none;
}

/* line 20, ../sass/module/_footer.scss */
.copyright {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
}
