/* line 2, ../sass/base/_base.scss */
.section-padding {
  padding: 40px;
}

/* line 7, ../sass/base/_base.scss */
.heading-title {
  padding: 20px 0 30px 0;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 14, ../sass/base/_base.scss */
.primary_btn {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.2s;
  margin: 10px 0;
}
/* line 22, ../sass/base/_base.scss */
.primary_btn:hover {
  background-color: #fff;
  color: #222;
  border: 1px solid #222;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar {
  border-radius: 0;
  margin: 0;
}

/* line 2, ../sass/module/_rates.scss */
.rates label {
  font-size: 20px;
}
/* line 5, ../sass/module/_rates.scss */
.rates select, .rates input {
  border-radius: 0;
}

/* line 1, ../sass/module/_services.scss */
.services {
  background-color: #40e0d0;
}

/* line 1, ../sass/module/_message.scss */
.message {
  background-color: #222;
  color: #fff;
}
/* line 4, ../sass/module/_message.scss */
.message p:last-child {
  font-weight: bold;
  font-size: 25px;
}

/* line 1, ../sass/module/_footer.scss */
footer {
  background-color: #40e0d0;
}
