.navbar{
	border-radius: 0;
	margin: 0;
}
.navbar-inverse{
	background-color: #fff;
}
.navbar-inverse .navbar-brand{
	color: $primary-color;
	font-weight: bold;
	&:hover{
		color: $primary-color;
	}
}
.navbar-inverse .navbar-nav>li>a{
	color: $primary-color;
	font-weight: bold;
	text-transform: uppercase;
	&:hover, &:focus{
		color: $primary-color;
		text-decoration: underline;
	}
}